.app {
  background-color: #111927;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(199.23, 100%, 35%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(246.55, 66%, 36%) 0, transparent 55%);
  color: whitesmoke;

  background-size: contain;
}

html {
  width: 100%;
}

.border {
  border: 3px solid rgba(255, 255, 255, 0.65);
  height: 550px;
  margin-bottom: 20%;
  margin-top: 8%;
  border-radius: 30px;
  margin-left: 2%;
  margin-right: 2%;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
